<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>


		<property name="hibernate.current_session_context_class">thread</property>

		<!-- List of XML mapping files -->

		<mapping class="com.exadel.orm.Teams" />
		<mapping class="com.exadel.orm.Leagues" />
		<mapping class="com.exadel.orm.Players" />
		<mapping class="com.exadel.orm.Users" />
		<mapping class="com.exadel.orm.Roster" />
		<mapping class="com.exadel.orm.Games" />
		<mapping class="com.exadel.orm.Weeks" />
		<mapping class="com.exadel.orm.Standings" />
		<mapping class="com.exadel.orm.Lplayers" />
		<mapping class="com.exadel.orm.Draftqueue" />
		<mapping class="com.exadel.orm.Draftpicks" />


	</session-factory>
</hibernate-configuration>